beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
joblib==1.4.2
numpy==2.0.0
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
soupsieve==2.5
threadpoolctl==3.5.0
tzdata==2024.1
urllib3==2.2.2
plotly-express==0.4.1
plotly==5.23.0
plotly-resampler==0.10.0
ydata-profiling==4.7.0 
matplotlib==3.7.1
